/* Command + / to add a comment block */

html {
  font-size: 16px;
}

body {
  /* !important will overwrite the cascading effect */
  color: darkslategray !important;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../images/white_brick_wall.png");

  /* background-repeat: no-repeat; */
  /* x-axis y-axis */
  /* background-position: 100px 200px; */
  /* background-size: cover; */
}

/* cascading */
body {
  color: red;
  padding-top: 90px;
}

img {
  width: 100%;
}


h1 {
  color: white;
}

/* Specificity: 0001 */
p {
  background-color: lightblue;
}

/* Selecting multiple elements to apply same styles */
h1,
h2,
h3,
h4 {
  text-decoration: underline;
}

/* descendant selector */
/* Specificity: 0002 */
nav ul {
  list-style: none;
}

/*  EX 1 - Display and Box Sizing */
nav ul li {
  display: inline-block;
  width: 49%;
  padding: 1em;
  box-sizing: border-box;
}

/* descendant selector - multiple levels */
nav ul a {
  display: block;
  color: darkslategray;
  text-decoration: none;
  /* rem is root element's(html tag) font size */
  font-size: 1.5rem;
  /* 1.5 x 16px = 24px */
}

/* class name selector */
/* Specificity: 0010 */
.orange-link {
  padding: 1.5em;
  width: 300px;
  display: inline-block;
  background-color: darkslategray;
  color: orange;
  text-decoration: none;
  clear: both;
}

/* Float */
article,
aside {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid black;
  padding: 1.5em;
  box-sizing: border-box;
  float: left;
}

aside {
  width: 20%;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

section {
  /* clearing the float */
  clear: both;

}

.orange-link.large-text {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* id selector */
/* Specificity: 0100 */
#treatofweek {
  position: relative;
  /* background-color: orange; */
  /* color image repeat */
  background: darkslategray url("../images/bread.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
  font-size: 1.5rem;
  /* 1.5 x 16px = 24px */
  /* em is for element's font size */
  /* 4 padding values - top right bottom left */
  padding: 1em 1em 3em 1em;

  /* 1 x 1.5rem = 1 x 1.5 x 16px = 24px */
  width: 50%;
}

/* overwriting the background-color for nth-child list items */
/* 0103 */
#treatofweek dl ul li {
  background-color: transparent;
}

/* Avoid using id for styling, use classes mostly */

.large-text {
  font-size: 1.25rem;
  /* 1.25 x 16  =20px */
}

/* Child selector or Direct Child selector */
article>p {
  /* Typography Properties */
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  text-transform: lowercase;
  text-align: center;
  letter-spacing: 2px;
}

/* Adjacent sibling selector */
h3+ul {
  /* thickness style color */
  border: 1px solid black;
}

a[href="#treatofweek"] {
  font-weight: bold;
}

[title*="Executive"] {
  background-color: yellow;
}

/* 
  Using Pseudo Classes 
  Styling Navigation
 */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

/* LoVe HAte */
nav ul a,
nav ul a:link,
nav ul a:visited {
  background-color: orange;
  /* horizontal vertical blur spread color */
  box-shadow: -2px 2px 4px 2px black;
}

nav ul a:hover,
nav ul a:focus {
  text-decoration: underline;
}

nav ul a:active {
  /* horizontal vertical blur spread color */
  box-shadow: 0 0 4px 2px black;
}

/* Position related Pseudo class selectors */
aside ul li:first-child {
  font-weight: bold;
}

section ol li:last-child {
  font-weight: bold;
}

/* dl ul li:nth-child(5) {
  background-color: white;
} */

/* dl ul li:nth-child(even) {
  background-color: white;
} */

/* 
  nth-child using the formula
  n = 0, 1, 2, 3, 4, 5...
  even = 2n = 0, 2, 4, 6, 8....
  odd = 2n+1 = 1, 3, 5, 7, 9....
*/
/* 0013 */
dl ul li:nth-child(2n+1) {
  background-color: white;
}

/* CSS Specificity */

/* specificity: 0002 */
body footer {
  background-color: rgb(0, 0, 0);
}

/* specificity: 0001 */
footer {
  background-color: #d5836c;
  padding: 20px;
}

/* specificity: 0010 */
.site-footer {
  background-color: cornflowerblue;
}

/* specificity: 0011 */
footer.site-footer {
  background-color: rgba(0, 0, 0, 0.2);
}